* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100px;
}

/* Espaço vazio para centralizar o logo */
.spacer {
    flex: 1;
}

/* Logo centralizado */
.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 80px;
    width: auto;
    object-fit: contain;
}

/* Menu à direita */
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Alinhar os itens do menu horizontalmente */
.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

/* Estilizar links */
.nav-list a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
